body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    background-color: cadetblue;
  }
  
  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .menu-item {
    padding: 15px;
    color: #fff;
    cursor: pointer;
    position: relative;
  }
  
  .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #555;
  }
  
  .submenu-item {
    padding: 10px;
    color: #fff;
    cursor: pointer;
  }
  
  .menu-item:hover .submenu {
    display: block;
  }
  
  .form-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #999e97;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 8px;
  }
  
  input,
  textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #0f0f0f;
    border-radius: 4px;
  }
  
  button {
    padding: 10px;
    background-color: greenyellow;
    color: #000000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #db7c7c;
  }
  